[submodule "tmux"]
	path = dependencies/tmux
	url = git://git.code.sf.net/p/tmux/tmux-code
[submodule "powerline"]
	path = dependencies/powerline
	url = git://github.com/Lokaltog/powerline
[submodule "vimfiles"]
	path = vim
	url = git@github.com:danieltdt/vimfiles.git
