[submodule "tmux"]
	path = tmux
	url = git://git.code.sf.net/p/tmux/tmux-code
[submodule "powerline"]
	path = powerline
	url = git://github.com/Lokaltog/powerline
[submodule "vimfiles"]
	path = vimfiles
	url = git@github.com:danieltdt/vimfiles.git
