[user]
	name = Daniel Teixeira
	email = daniel@tagview.com.br
[alias]
	st = status
	co = checkout
	ci = commit
	last = cat-file commit HEAD
	colete = blame
[core]
	excludesfile = /home/daniel/.gitignore
[help]
	format = web
	autocorrect = -1
[push]
	default = current
[color]
	diff = auto
	status = auto
	branch = auto
