[submodule "powerline"]
	path = dependencies/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "dependencies/resty"]
	path = dependencies/resty
	url = https://github.com/micha/resty.git
[submodule "vim"]
	path = vim
	url = http://github.com/danieltdt/vimfiles
